@media screen and (min-width: 950px) {

    header {
        height: 210px;
    }

    nav li {
        margin-left: 50px;
        margin-top: 30px;
        font-size: x-large;
    }

    #logo {
        padding: 20px 0px 15px 50px;
    }

    #cover-text h2 {
        font-size: 250%;
    }

    
    #cover-text h3 {
        font-size: 200%;
    }

    #cover-text {
        height: 80px;  
    }

    /* About Us */

    #about-us p {
        font-size: large;
    }

    #about h2 {
        font-size: xx-large;
        margin: 60px 20px 20px 20px;
    }

    /* Meet The Team */

    #meet-the-team img {
        bottom: 360px;
     }
 

    #meet-the-team p {
        font-size: large;
    }

    #meet-the-team h2 {
        font-size: xx-large;
    }

    /* Gallery */

    #gallery {
        position: relative;
        bottom: 70px;
    }

    #gallery h2 {
        margin: 100px 20px 20px 20px;
        font-size: xx-large;
    }

    #gallery img {
        width: 25%; 
        margin: 4%;
     }

     #gallery iframe {
        height: 500px;
    }

    /* Footer */

    footer {
        height: 220px;
        position: relative;
        top: 20px
    }
     
     #docs a{
         font-size: 200%;
         margin-left: 70px;
         top: 70px;
     }

     #f-contact {
        font-size: 150%; 
        bottom: 15px;
        right: 60px;
     }

     #f-contact i {
        margin-right: 20px;
        
     } 

     #social i {
        font-size: 600%;
        margin-left:100px;
        top: 30px;
     }

     /* Services */

    #services h2 {
        font-size: xx-large;
    }
    
    #services img {
        width: 300px;
        margin: 50px 50px 50px 150px;
    }
    
    #services p {
        width: 40%;
        margin: 50px 0 0 60px;
        font-size: large;
    }
    
    /* Contact Us */

    #contact-page {
        height: 900px;
    }

    #contact-page h2 {
        font-size: xx-large;
    }

    #contact-us {
        font-size: large;
        padding-left: 30px;
        margin-left: 7%;
    }
    
    #contact-info {
        left: 7%;
        font-size:large;
    }
    
    /* opening times */
    
    #times {
        font-size: large;
        top: 41%;
        width: 35%;
        padding: 16px 0;
        left: 57%;
    }

    /* form */

    #form {
        bottom: 58px;
    }
    #times p {
       padding-bottom: 19px;
    }
}

@media screen and (min-width: 1050px) {
    
    /* Meet the Team */
  
    #members {
        bottom: 250px;
     }

    #meet-the-team p {
        top: 250px;
     }

    #meet-the-team img {
        bottom: 450px; 
     }
 

     /* services */

     #services img {
        width: 400px;
        margin: 50px 0px 50px 200px;
     }
    
     #services p {
        margin: 90px 0 0 60px
     }

     /* Contact Us */

    #contact-page {
        height: 900px;
    }

    #contact-us {
        margin-left: 8%;
        position: relative;
        bottom: 20px;
    }
    
    #contact-info {
        padding: 70px 25px;
      
    }
    
    #times {
        top: 32%;
        width: 30%;
        left: 58%;
        padding: 31px 0 35px 0;
    }

    #form {
        bottom: 17%;
        right: 2%;
    }

}