@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    height: 100px;
    background-color: #4a4a4f;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #2C7E32;
}

/* headings and logo */

h1, h2 {
    font-family: 'Noto Sans KR', sans-serif;
    color: #275c3b;
    text-transform: uppercase;
}

#logo {
    float: left;
    height: 60px;
    margin: 0;
    padding: 15px 0px;
}

/* navagation links */

nav ul {
    list-style: none;
    text-align: right;
    padding-right: 30px;
    margin: 0;
}

nav li {
    font-size: 1em;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 15px;
}

.line-two {
    position:relative;
    right:30px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #62B374;
    border-bottom: 1px solid  #62B374;
}

.active {
    border-bottom: 1px solid #62B374;
    color: #62B374;
}

/* Main tree image */


#main-tree-outer {
    height: 320px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: white;
    font-weight: 300;
}

#main-tree {
    height: 320px;
    width: 100%;
    background: url('../images/Main-tree.jpg') no-repeat center center;
}

#cover-text {
    font-size: 70%;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;

    width: 300px;
    height: 60px;

    padding: 10px;

    background:rgba(0,0,0, 0.5);

    top: 40px;
    right: 10px;

    position:absolute;
}

/* About us */

#about h2 {
    text-align: center;
    margin:20px;
}

#about-us{
    border: 1px solid #275c3b;
    padding: 10px;
    margin: 10px;
}

#about-us p {
    text-align: center;
}

#about-us img {
    margin: 50px;
}

/* Meet the team */

#meet-the-team h2 {
    text-align: center;
    margin-top: 20px;
}

#meet-the-team img {
    width: 80%;
    margin: 10px;
}

#meet-the-team p {
    width: 80%;
    margin: 10%;
    text-align: center;
}

/* services */

#services h2 {
    text-align: center;
    margin:50px;
}

#services img {
    width: 80%;
    margin: 10%;
}

#services p {
    width: 80%;
    margin: 10%;
    text-align: center;
}

.service {
    border-bottom: 1px solid #275c3b;
}

.service strong {
    color: #275c3b;
}