@media screen and (min-width: 950px) {

    header {
        height: 210px;
    }

    nav li {
        margin-left: 50px;
        margin-top: 30px;
        font-size: x-large;
    }

    #logo {
        padding: 20px 0px 15px 50px;
    }

    #cover-text h2 {
        font-size: 250%;
    }
    
    #cover-text h3 {
        font-size: 200%;
    }

    #cover-text {
        height: 80px;  
    }

    /* About Us */

    #about-us p {
        font-size: large;
    }

    #about h2 {
        font-size: xx-large;
        margin: 60px 20px 20px 20px;
    }

    /* Meet The Team */

    #meet-the-team img {
        bottom: 360px;
    }
 
    #meet-the-team p {
        font-size: large;
    }

    #meet-the-team h2 {
        font-size: xx-large;
    }

    /* Gallery */

    #gallery {
        position: relative;
        bottom: 70px;
    }

    #gallery h2 {
        margin: 100px 20px 20px 20px;
        font-size: xx-large;
    }

    #gallery img {
        width: 25%; 
        margin: 4%;
    }

    #gallery iframe {
        height: 500px;
    }

    /* Footer */

    footer {
        height: 220px;
        position: relative;
        top: 20px
    }
     
    #docs a{
        font-size: 200%;
        margin-left: 70px;
        top: 70px;
    }

    #f-contact {
        font-size: 150%; 
        bottom: 15px;
        right: 60px;
    }

    #f-contact i {
        margin-right: 20px;
        
    } 

    #social i {
        font-size: 600%;
        margin-left:100px;
        top: 30px;
    }

    /* Services */

    #services h2 {
        font-size: xx-large;
    }
    
    #services img {
        width: 300px;
        margin: 50px 50px 50px 150px;
    }
    
    #services p {
        width: 40%;
        margin: 50px 0 0 60px;
        font-size: large;
    }
    
    /* Contact Us */

    #contact-page {
        height: 900px;
    }

    #contact-page h2 {
        font-size: xx-large;
    }

    #contact-us {
        font-size: large;
        padding-left: 30px;
        margin-left: 7%;
    }
    
    #contact-info {
        left: 7%;
        font-size:large;
    }
    
    /* opening times */
    
    #times {
        font-size: large;
        top: 41%;
        width: 35%;
        padding: 38px 0;
        left: 57%;
        margin-top: 85px;
    }

    #times p {
        padding-bottom: 19px;
     }

    /* form */

    #form {
        bottom: 58px;
    }
}

@media screen and (min-width: 1200px) {
    
    /* Meet The Team */
 
    #meet-the-team p {
        
        position:relative;
        top:50px;
    }

    #members {
        padding-bottom: 100px;
    }

    /* Services */

    #services img {
        margin: 50px 50px 50px 200px;
    }

    /* Contact Us */

    #form {
        margin-top: 50px;
    }

    #times {
        padding-bottom: 45px;
        padding-top: 45px;
        margin-top: 75px;
    }

    #contact-info {
        padding: 82px 60px;
        bottom: 20px;
        left: 45px;
    }
  
}

@media screen and (min-width: 1400px) {

    /* Meet The Team */
 
    #meet-the-team p {
        position:relative;
        top:100px;
    }

    #members {
        padding-bottom: 200px;
    }
    
    #emma img {
        padding-top: 50px;
    }
    
    /* Services */

    #services img {
        margin: 50px 50px 50px 250px;
    }

    #services p {
        margin-left: 100px;
    }

    /* Contact Us */

    #times {
        padding-bottom: 60px;
        padding-top: 60px;
        margin-top: 70px;
    }

    #contact-info {
        padding: 82px 90px;
        bottom: 10px;
        left: 65px;
    }

    #contact-page {
        height: 950px;
    }
}

@media screen and (min-width: 1600px) {

    /* Meet The Team */
 
    #meet-the-team p {
        position:relative;
        top:150px;
    }

    #members {
        padding-bottom: 300px;
    }

    /* Services */

    #services p {
        margin-left: 150px;
    }

    /* Contact Us */

    #times {
        padding-bottom: 70px;
        padding-top: 70px;
        margin-top: 90px;
    }

    #contact-info {
        padding: 95px 120px;
        bottom: 10px;
        left: 80px;
    }

    #contact-page {
        height: 1000px;
    }
}

@media screen and (min-width: 1800px) {

    /* Meet The Team */
 
    #meet-the-team p {
        position:relative;
        top:300px;
    }

    #members {
        padding-bottom: 800px;
    }

    #sam {
        position: relative;
        bottom: 100px;
    }

    #louise {
        position: relative;
        top: 100px;
    }

    #robert {
        position: relative;
        top: 200px;
    }

    #emma {
        position: relative;
        top: 300px;
    }

    /* Services */

    #services p {
        margin-left: 250px;
    }

    /* Contact Us */

    #times {
        padding-bottom: 90px;
        padding-top: 90px;
        margin-top: 70px;
    }

    #contact-info {
        padding: 95px 160px;
        bottom:4px;
        left: 130px;
    }

    #contact-page {
        height: 1150px;
    }
}