@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    height: 100px;
    background-color: #4a4a4f;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #2C7E32;
    font-size: small;
}

/* headings and logo */

h1, h2 {
    font-family: 'Noto Sans KR', sans-serif;
    color: #275c3b;
    text-transform: uppercase;
}

#logo {
    float: left;
    height: 70%;
    margin: 0;
    padding: 15px 0px 15px 10px;
}

/* navagation links */

nav ul {
    list-style: none;
    text-align: right;
    padding-right: 30px;
    margin: 0;
    text-align:center;
}

nav li {
    font-size: 14px;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 1px solid  #fafafa;
}

.active {
    border-bottom: 1px solid #fafafa;
}

/* Main tree image */


#main-tree-outer {
    height: 320px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text h2, #cover-text h3 {
    color: white;
    font-weight: 300;
}

#main-tree {
    height: 320px;
    width: 100%;
    background: url('../images/home-page.jpg') center center / cover no-repeat fixed;
}

#cover-text {
    font-size: 90%;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;

    width: 300px;
    height: 60px;

    padding: 10px;

    background:rgba(0,0,0, 0.5);

    bottom: 40px;
    right: 10px;

    position:absolute;
}

/* About us */

#about h2 {
    text-align: center;
    margin:20px;
}

#about-us{
    border: 1px solid #275c3b;
    padding: 10px;
    margin: 10px;
}

#about-us p {
    text-align: center;
}

#about-us img {
    margin: 50px;
}

#about-us iframe {
    width: 90%;
    padding-top: 10px;
}

/* Meet the team */

#meet-the-team h2 {
    text-align: center;
    margin-top: 20px;
}

#meet-the-team img {
    width: 80%;
    margin: 10px;
}

#meet-the-team p {
    width: 80%;
    margin: 10%;
    text-align: center;
}

/* Gallery */

#gallery h2 {
    text-align: center;
    margin: 20px;
}

#gallery img{
    width: 80%;
    margin: 10%;
}

/* services */

#services h2 {
    text-align: center;
    margin:50px 50px 10px 50px;
    
}

#services img {
    width: 80%;
    margin: 10%;
}

#services p {
    width: 80%;
    margin: 10%;
    text-align: center;
}

.service {
    border-bottom: 1px solid #275c3b;
}

.service strong {
    color: #275c3b;
} 

/* Contact Us */

#contact-us {
    text-align: center;
    width: 80%;
    margin: 10%;
}

#contact-page h2 {
    text-align: center;
    margin:50px;
}

#contact-info {
    border: 1px solid  #275c3b;
    padding: 20px 10px;
    margin: 30px;
    text-align: left;
}


/* Form */

#form {
    width: 80%;
    text-align: center;
    margin: 10%;
    padding: 0;
}

::placeholder { 
    color: black;
    position:absolute;
    top:1px;
}

#name, #email {
    width: 48%;
    display: inline-block;
    border: 1px solid #275c3b;
    margin-bottom: 5px;
}

#number, #address {
    border: 1px solid #275c3b;
    width: 98%;
    margin-bottom: 5px;
}

#description {
    border: 1px solid #275c3b;
    width: 98%;
    height: 80px;
}

#submit {
    border: 1px solid #275c3b;
    border-radius: 10%;
    margin-top: 10px;
}

.form-input:hover {
    background-color: #275c3b;
    color: #fafafa;
    border: 1px solid #000;
}

/* opening times */

#times {
    text-align: center;
    margin:50px;
}

#times h2 {
    margin-bottom: 20px;
}

/* Footer */

footer {
    height: 100px;
    background-color: #4a4a4f;
}

footer ul {
    list-style: none;
    text-align: left;
    padding:0px;
    margin: 0;
    display:inline-block;
    clear:right;
    position: relative;
    bottom: 10px;
    left: 10px;
    font-size: small;
}

footer li {
    font-size: 60%;
    line-height: 30px;
    height: 5px;
    display: inline-block;
    margin: 5px;
    position: relative;
    top: 30px;
}

footer a {
    color: white;
}

#f-contact {
    color: white;
    width: 50%;
    font-size: 75%;
    
    float: right;
    text-align: right;
    margin-right: 5px;

    position: relative;
    bottom: 40px;
}

#f-contact i {
    padding: 0 10px;
}

#social i {
    font-size: 400%;
    position: relative;
    bottom: 10px;
    margin-right:20px;
}
